<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	
	<bean id="minstrel" class="final1.Minstrel"/>

	<aop:config>
		<aop:aspect id="minstrelAspee" ref="minstrel">
			<aop:pointcut expression="execution(* embarkOnQuest())" id="minstrelPointCut"/>
			<aop:before pointcut-ref="minstrelPointCut" method="singBeforeQuest"/>
			<aop:after pointcut-ref="minstrelPointCut" method="singAfterQuest"/>	
		</aop:aspect>
	</aop:config>

	<bean id="knight" class="final1.DamselRescuingKnight">
		<property name="quest">
			<ref local="quest" />
		</property>
	</bean>

	<bean id="quest" class="final1.RescueDamselQuest">
	</bean>
</beans>